@font-face {
    font-family:"WeblySleek UI Semibold";
    src:url("weblysleekuisb.eot?") format("eot"),url("weblysleekuisb.svg#WeblySleekUISemibold") format("svg");font-weight:normal;font-style:normal;}
    


$color-fooOrange: #FF6F00;
$color-bgGrey: #EFEFEF;
$color-bgWhite: #FFFFFF;
$color-textGrey: #646464;
$color-textDarkGrey: #303030;
$color-circBlue: #250FEC;
$shadow-big:3px 3px 40px #0000007e;
$shadow-small:3px 3px 10px #00000048;
* {
    margin: 0;
    padding: 0;
    font-family: WeblySleek UI Semibold, sans-serif;
}
body{
    background-color: $color-fooOrange;
}

//MEDIA QUERIES
@media (min-width: 250px) and (max-width: 480px) {
    #main{
        background: $color-bgGrey;
        width: 96%;
        height: 100%;
        box-shadow: $shadow-big;
        margin: 0 auto;
        margin-bottom: 2vw;
        #logo{
            text-transform: uppercase;
            text-align: center;
            color: $color-fooOrange;
            font-size: 8vw;
            margin-top: 2vw;
            h1{
                align-self: center;
            }
            span{
                font-weight: lighter;
            }
            .longbar{
                width: 60%;
                border: 1px solid $color-fooOrange;
                margin: 0 auto;
                box-shadow: $shadow-small;
                height: 0%;
            }
            .shortbar{
                width: 40%;
                border: 1px solid $color-fooOrange;
                margin: 0 auto;
                margin-top: 3px;
                box-shadow: $shadow-small;
                height: 0%;
            }
        }
        #col4split{
            margin: 4vw auto;
            width: 92%;
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 4vw;
            .queue{
                height: 60vw;
                background-color: $color-bgWhite;
                box-shadow: $shadow-small;
                p{
                    position: relative;
                    top: 15px;
                    left: 15px;
                    text-transform: uppercase;
                }
            }
            .sales{
                height: 60vw;
                background-color: $color-bgWhite;
                box-shadow: $shadow-small;
                p{
                    position: relative;
                    top: 15px;
                    left: 15px;
                    text-transform: uppercase;
                }
            }
            .prognosis{
                height: 60vw;
                background-color: $color-bgWhite;
                box-shadow: $shadow-small;
                p{
                    position: relative;
                    top: 15px;
                    left: 15px;
                    text-transform: uppercase;
                }
            }
            .bartenders{
                height: 350px;
                background-color: $color-bgWhite;
                box-shadow: $shadow-small;
                display: flex;
                position: relative;
                p{
                    position: absolute;
                    top: 15px;
                    left: 15px;
                    text-transform: uppercase;
                }
                .tenders{
                    width: 100%;
                    margin: 15px;
                    align-self: flex-end;
                }
            }
        }
        #beers{
            width: 92%;
            margin: 2vw auto;
            display: grid;
            grid-template-columns: 1fr;
            background-color: $color-bgWhite;
            box-shadow: $shadow-small;
            .titlebar{
                margin: 5px;
                text-align: center;
                h4{
                    font-size: 25px;
                    text-transform: uppercase;
                }
            }
            .beerCards{
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 5%;
                width: 90%;
                margin: 0 auto;
                .beer{
                    height: 230px;
                    width: 100%;
                    box-shadow: $shadow-small;
                    margin-bottom: 2vw;
                }
            }
        }
        
    }
}
@media (min-width: 481px) and (max-width: 767px) {
  
    #main{
        background: $color-bgGrey;
        width: 96%;
        height: 100%;
        box-shadow: $shadow-big;
        margin: 0 auto;
        margin-bottom: 2vw;
        #logo{
            text-transform: uppercase;
            text-align: center;
            color: $color-fooOrange;
            font-size: 8vw;
            margin-top: 2vw;
            h1{
                align-self: center;
            }
            span{
                font-weight: lighter;
            }
            .longbar{
                width: 60%;
                border: 1px solid $color-fooOrange;
                margin: 0 auto;
                box-shadow: $shadow-small;
                height: 0%;
            }
            .shortbar{
                width: 40%;
                border: 1px solid $color-fooOrange;
                margin: 0 auto;
                margin-top: 3px;
                box-shadow: $shadow-small;
                height: 0%;
            }
        }
        #col4split{
            margin: 4vw auto;
            width: 92%;
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 4vw;
            .queue{
                height: 60vw;
                background-color: $color-bgWhite;
                box-shadow: $shadow-small;
                p{
                    position: relative;
                    top: 15px;
                    left: 15px;
                    text-transform: uppercase;
                    font-size: 20px;
                }
            }
            .sales{
                height: 60vw;
                background-color: $color-bgWhite;
                box-shadow: $shadow-small;
                p{
                    position: relative;
                    top: 15px;
                    left: 15px;
                    text-transform: uppercase;
                    font-size: 20px;
                }
            }
            .prognosis{
                height: 60vw;
                background-color: $color-bgWhite;
                box-shadow: $shadow-small;
                p{
                    position: relative;
                    top: 15px;
                    left: 15px;
                    text-transform: uppercase;
                    font-size: 20px;
                }
            }
            .bartenders{
                height: 350px;
                background-color: $color-bgWhite;
                box-shadow: $shadow-small;
                p{
                    position: relative;
                    top: 15px;
                    left: 15px;
                    text-transform: uppercase;
                    font-size: 20px;
                }
            }
        }
        #beers{
            width: 92%;
            margin: 2vw auto;
            display: grid;
            grid-template-columns: 1fr;
            background-color: $color-bgWhite;
            box-shadow: $shadow-small;
            .titlebar{
                margin: 5px;
                text-align: center;
                h4{
                    font-size: 35px;
                    text-transform: uppercase;
                }
            }
            .beerCards{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                column-gap: 3%;
                width: 90%;
                margin: 0 auto;
                .beer{
                    height: 280px;
                    width: 100%;
                    box-shadow: $shadow-small;
                    margin-bottom: 2vw;
                }
            }
        }
        
    }
    
}



@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
    #main{
        background: $color-bgGrey;
        width: 96%;
        height: 100%;
        box-shadow: $shadow-big;
        margin: 0 auto;
        margin-bottom: 2vw;
        #logo{
            text-transform: uppercase;
            text-align: center;
            color: $color-fooOrange;
            font-size: 8vw;
            margin-top: 2vw;
            h1{
                align-self: center;
            }
            span{
                font-weight: lighter;
            }
            .longbar{
                width: 60%;
                border: 1px solid $color-fooOrange;
                margin: 0 auto;
                box-shadow: $shadow-small;
                height: 0%;
            }
            .shortbar{
                width: 40%;
                border: 1px solid $color-fooOrange;
                margin: 0 auto;
                margin-top: 3px;
                box-shadow: $shadow-small;
                height: 0%;
            }
        }
        #col4split{
            margin: 2vw auto;
            width: 94%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 2vw;
            .queue{
                height: 35vw;
                background-color: $color-bgWhite;
                box-shadow: $shadow-small;
                p{
                    position: relative;
                    top: 15px;
                    left: 15px;
                    text-transform: uppercase;
                    font-size: 20px;
                }
            }
            .sales{
                height: 35vw;
                background-color: $color-bgWhite;
                box-shadow: $shadow-small;
                p{
                    position: relative;
                    top: 15px;
                    left: 15px;
                    text-transform: uppercase;
                    font-size: 20px;
                }
            }
            .prognosis{
                height: 35vw;
                background-color: $color-bgWhite;
                box-shadow: $shadow-small;
                p{
                    position: relative;
                    top: 15px;
                    left: 15px;
                    text-transform: uppercase;
                    font-size: 20px;
                }
            }
            .bartenders{
                height: 35vw;
                background-color: $color-bgWhite;
                box-shadow: $shadow-small;
                p{
                    position: relative;
                    top: 15px;
                    left: 15px;
                    text-transform: uppercase;
                    font-size: 20px;
                }
            }
        }
        #beers{
            width: 94%;
            margin: 2vw auto;
            display: grid;
            grid-template-columns: 1fr;
            background-color: $color-bgWhite;
            box-shadow: $shadow-small;
            .titlebar{
                margin: 5px;
                text-align: center;
                h4{
                    font-size: 35px;
                    text-transform: uppercase;
                }
            }
            .beerCards{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                column-gap: 3%;
                width: 95%;
                margin: 0 auto;
                .beer{
                    height: 350px;
                    width: 100%;
                    box-shadow: $shadow-small;
                    margin-bottom: 2vw;
                }
            }
        }
        
    }
    
}

@media (min-width: 768px) and (max-width: 1024px) {
  
    #main{
        background: $color-bgGrey;
        width: 96%;
        height: 100%;
        box-shadow: $shadow-big;
        margin: 0 auto;
        margin-bottom: 2vw;
        #logo{
            text-transform: uppercase;
            text-align: center;
            color: $color-fooOrange;
            font-size: 8vw;
            margin-top: 2vw;
            h1{
                align-self: center;
            }
            span{
                font-weight: lighter;
            }
            .longbar{
                width: 60%;
                border: 1px solid $color-fooOrange;
                margin: 0 auto;
                box-shadow: $shadow-small;
                height: 0%;
            }
            .shortbar{
                width: 40%;
                border: 1px solid $color-fooOrange;
                margin: 0 auto;
                margin-top: 3px;
                box-shadow: $shadow-small;
                height: 0%;
            }
        }
        #col4split{
            margin: 2vw auto;
            width: 75%;
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 2vw;
            .queue{
                height: 45vw;
                background-color: $color-bgWhite;
                box-shadow: $shadow-small;
                p{
                    position: relative;
                    top: 15px;
                    left: 15px;
                    text-transform: uppercase;
                    font-size: 20px;
                }
            }
            .sales{
                height: 45vw;
                background-color: $color-bgWhite;
                box-shadow: $shadow-small;
                p{
                    position: relative;
                    top: 15px;
                    left: 15px;
                    text-transform: uppercase;
                    font-size: 20px;
                }
            }
            .prognosis{
                height: 45vw;
                background-color: $color-bgWhite;
                box-shadow: $shadow-small;
                p{
                    position: relative;
                    top: 15px;
                    left: 15px;
                    text-transform: uppercase;
                    font-size: 20px;
                }
            }
            .bartenders{
                height: 45vw;
                background-color: $color-bgWhite;
                box-shadow: $shadow-small;
                p{
                    position: relative;
                    top: 15px;
                    left: 15px;
                    text-transform: uppercase;
                    font-size: 20px;
                }
            }
        }
        #beers{
            width: 94%;
            margin: 2vw auto;
            display: grid;
            grid-template-columns: 1fr;
            background-color: $color-bgWhite;
            box-shadow: $shadow-small;
            .titlebar{
                margin: 5px;
                text-align: center;
                h4{
                    font-size: 35px;
                    text-transform: uppercase;
                }
            }
            .beerCards{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                column-gap: 3%;
                width: 95%;
                margin: 0 auto;
                .beer{
                    height: 400px;
                    width: 100%;
                    box-shadow: $shadow-small;
                    margin-bottom: 2vw;
                }
            }
        }
        
    }
    
}

@media (min-width: 1025px) and (max-width: 1280px) {
  
    #main{
        background: $color-bgGrey;
        width: 96%;
        height: 100%;
        box-shadow: $shadow-big;
        margin: 0 auto;
        margin-bottom: 2vw;
        #logo{
            text-transform: uppercase;
            text-align: center;
            color: $color-fooOrange;
            font-size: 8vw;
            margin-top: 2vw;
            h1{
                align-self: center;
            }
            span{
                font-weight: lighter;
            }
            .longbar{
                width: 60%;
                border: 1px solid $color-fooOrange;
                margin: 0 auto;
                box-shadow: $shadow-small;
                height: 0%;
            }
            .shortbar{
                width: 40%;
                border: 1px solid $color-fooOrange;
                margin: 0 auto;
                margin-top: 3px;
                box-shadow: $shadow-small;
                height: 0%;
            }
        }
        #col4split{
            margin: 2vw auto;
            width: 94%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 2vw;
            .queue{
                height: 35vw;
                background-color: $color-bgWhite;
                box-shadow: $shadow-small;
                p{
                    position: relative;
                    top: 15px;
                    left: 15px;
                    text-transform: uppercase;
                    font-size: 20px;
                }
            }
            .sales{
                height: 35vw;
                background-color: $color-bgWhite;
                box-shadow: $shadow-small;
                p{
                    position: relative;
                    top: 15px;
                    left: 15px;
                    text-transform: uppercase;
                    font-size: 20px;
                }
            }
            .prognosis{
                height: 35vw;
                background-color: $color-bgWhite;
                box-shadow: $shadow-small;
                p{
                    position: relative;
                    top: 15px;
                    left: 15px;
                    text-transform: uppercase;
                    font-size: 20px;
                }
            }
            .bartenders{
                height: 35vw;
                background-color: $color-bgWhite;
                box-shadow: $shadow-small;
                p{
                    position: relative;
                    top: 15px;
                    left: 15px;
                    text-transform: uppercase;
                    font-size: 20px;
                }
            }
        }
        #beers{
            width: 94%;
            margin: 2vw auto;
            display: grid;
            grid-template-columns: 1fr;
            background-color: $color-bgWhite;
            box-shadow: $shadow-small;
            .titlebar{
                margin: 15px;
                text-align: center;
                h4{
                    font-size: 45px;
                    text-transform: uppercase;
                }
            }
            .beerCards{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                column-gap: 3%;
                width: 95%;
                margin: 0 auto;
                .beer{
                    height: 300px;
                    width: 100%;
                    box-shadow: $shadow-small;
                    margin-bottom: 2vw;
                }
            }
        }
        
    }
    
}

@media (min-width: 1281px) {
  
    #main{
        background: $color-bgGrey;
        width: 96vw;
        height: 96vh;
        box-shadow: $shadow-big;
        margin: 2vh auto;
        #logo{
            text-transform: uppercase;
            text-align: center;
            color: $color-fooOrange;
            font-size: 65px;
            height: 20vh;
            h1{
                align-self: center;
                padding-top: 3vh;
            }
            span{
                font-weight: lighter;
            }
            .longbar{
                width: 500px;
                border: 1px solid $color-fooOrange;
                margin: 0 auto;
                box-shadow: $shadow-small;
                height: 0%;
            }
            .shortbar{
                width: 400px;
                border: 1px solid $color-fooOrange;
                margin: 0 auto;
                margin-top: 3px;
                box-shadow: $shadow-small;
                height: 0%;
            }
        }
        #col4split{
            margin: 1vh auto;
            width: 96%;
            display: grid;
            grid-template-columns: 26.5% 22% 22% 26.5%;
            grid-gap: 1%;
            .queue{
                height: 35vh;
                background-color: $color-bgWhite;
                box-shadow: $shadow-small;
                p{
                    position: relative;
                    top: 15px;
                    left: 15px;
                    text-transform: uppercase;
                    font-size: 20px;
                }
            }
            .sales{
                height: 35vh;
                background-color: $color-bgWhite;
                box-shadow: $shadow-small;
                p{
                    position: relative;
                    top: 15px;
                    left: 15px;
                    text-transform: uppercase;
                    font-size: 20px;
                }
            }
            .prognosis{
                height: 35vh;
                background-color: $color-bgWhite;
                box-shadow: $shadow-small;
                p{
                    position: relative;
                    top: 15px;
                    left: 15px;
                    text-transform: uppercase;
                    font-size: 20px;
                }
            }
            .bartenders{
                height: 35vh;
                background-color: $color-bgWhite;
                box-shadow: $shadow-small;
                p{
                    position: relative;
                    top: 15px;
                    left: 15px;
                    text-transform: uppercase;
                    font-size: 20px;
                }
            }
        }
        #beers{
            width: 96%;
            margin: 1vh auto;
            display: grid;
            grid-template-columns: 1fr;
            background-color: $color-bgWhite;
            box-shadow: $shadow-small;
            height: 37vh;
            .titlebar{
                margin: 15px;
                text-align: center;
                height: 5vh;
                h4{
                    font-size: 45px;
                    text-transform: uppercase;
                }
            }
            .beerCards{
                display: grid;
                grid-template-columns: 9% 9% 9% 9% 9% 9% 9% 9% 9% 9%;
                column-gap: 1.1%;
                width: 98%;
                margin: 1vh auto;
                height: 100%;
                .beer{
                    height: 25vh;
                    width: 100%;
                    box-shadow: $shadow-small;
                    
                }
            }
        }
        
    }
    
}