@font-face {
    font-family:"WeblySleek UI Semibold";
    src:url("weblysleekuisb.eot?") format("eot"),url("weblysleekuisb.woff") format("woff"),url("weblysleekuisb.ttf") format("truetype"),url("weblysleekuisb.svg#WeblySleekUISemibold") format("svg");font-weight:normal;font-style:normal;}
    


$color-fooOrange: #FF6F00;
$color-bgGrey: #EFEFEF;
$color-bgWhite: #FFFFFF;
$color-textGrey: #646464;
$color-textDarkGrey: #303030;
$color-circBlue: #250FEC;
$shadow-big:3px 3px 40px #0000007e;
$shadow-small:3px 3px 10px #00000048;
* {
    margin: 0;
    padding: 0;
    font-family: WeblySleek UI Semibold, sans-serif;
}
body{
    background-color: $color-fooOrange;
}

//MEDIA QUERIES
@media (min-width: 320px) and (max-width: 480px) {
    #main{
        background: $color-bgGrey;
        width: 96%;
        height: 100%;
        box-shadow: $shadow-big;
        margin: 0 auto;
        margin-bottom: 2vw;
        #logo{
            display:grid;
            grid-template-columns: 1fr;
            text-transform: uppercase;
            text-align: center;
            color: $color-fooOrange;
            font-size: 8vw;
            margin-top: 2vw;
            height: 100px;
            h1{
                align-self: center;
            }
            span{
                font-weight: lighter;
            }
            .longbar{
                grid-column: 1;
                width: 60%;
                border: 1px solid $color-fooOrange;
                margin: 0 auto;
                box-shadow: $shadow-small;
                height: 0%;
            }
            .shortbar{
                grid-column: 1;
                width: 40%;
                border: 1px solid $color-fooOrange;
                margin: 0 auto;
                margin-top: 3px;
                box-shadow: $shadow-small;
                height: 0%;
            }
        }
        #col4split{
            margin: 2vw auto;
            width: 92%;
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 2vw;
            .queue{
                height: 180px;
                background-color: $color-bgWhite;
                box-shadow: $shadow-small;
                p{
                    position: relative;
                    top: 15px;
                    left: 15px;
                    text-transform: uppercase;
                }
            }
            .sales{
                height: 180px;
                background-color: $color-bgWhite;
                box-shadow: $shadow-small;
                p{
                    position: relative;
                    top: 15px;
                    left: 15px;
                    text-transform: uppercase;
                }
            }
            .prognosis{
                height: 180px;
                background-color: $color-bgWhite;
                box-shadow: $shadow-small;
                p{
                    position: relative;
                    top: 15px;
                    left: 15px;
                    text-transform: uppercase;
                }
            }
            .bartenders{
                height: 180px;
                background-color: $color-bgWhite;
                box-shadow: $shadow-small;
                p{
                    position: relative;
                    top: 15px;
                    left: 15px;
                    text-transform: uppercase;
                }
            }
        }
        #beers{
            width: 92%;
            margin: 2vw auto;
            display: grid;
            grid-template-columns: 1fr;
            background-color: $color-bgWhite;
            box-shadow: $shadow-small;
            .titlebar{
                margin: 5px;
                text-align: center;
                h4{
                    font-size: 25px;
                    text-transform: uppercase;
                }
            }
            .beerCards{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 2%;
                .beer{
                    height: 250px;
                    width: 100%;

                }
            }
        }
        
    }
}
// @media (min-width: 481px) and (max-width: 767px) {
  
//     //CSS
    
//   }



//   @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
//     //CSS
    
//   }

//   @media (min-width: 768px) and (max-width: 1024px) {
  
//     //CSS
    
//   }

//   @media (min-width: 1025px) and (max-width: 1280px) {
  
//     //CSS
    
//   }

//   @media (min-width: 1281px) {
  
//     //CSS
    
//   }